address{
    background-color: lightcoral;
}

.nonMain{
    background-color: darkred;
    text-align: center;
}

body{
    background-color: lightpink;
}

#headerimage{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}